.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(105, 232, 247);
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  background: rgb(58, 214, 231);
}
.btn:active {
  background: rgb(12, 185, 204);
}