// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
// @import "libs";
@import "fonts";
@import "global";
@import "animation";


.header__menu{
  padding: 30px;
  padding-top: 0;
}
.header__menu-link{
  color: #8a8b8b;
  // background: #01fffb;
  font-size: 20px;
  text-decoration: none;
  // border: 2px solid #75787c;
  line-height: 30px;
  transition: all .2s;
  &:hover{
    color: rgb(234, 241, 245);
  }
}
.letter-alphabet__title{
  display: inline-block;
  width: 30px;
  padding-bottom: 2px;
  // background: rgb(85, 230, 114);
  text-align: center;
  color: #9e5fb1;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 5px;
}

@import "media";
