@charset "UTF-8";
.components {
  position: relative;
}
.components a {
  text-decoration: none;
  color: inherit;
}
.components .logo {
  position: absolute;
}
.components__item {
  border: 1px solid #00fdb1;
  height: 100vh;
  padding: 180px;
}
.components .product {
  width: 285px; /*для примера*/
  border: 1px solid #771672;
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  padding-top: 9px;
  color: #cf748f;
  font-size: 14px;
}
.components .product__image {
  position: relative;
  display: block;
  height: 162px;
  overflow: hidden;
}
.components .product .image-switch {
  position: absolute;
  left: 0;
  height: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.components .product .image-switch__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}
.components .product .image-switch__item:first-child .image-switch__img {
  opacity: 1;
  z-index: -1;
}
.components .product .image-switch__item:hover .image-switch__img {
  opacity: 1;
  z-index: -1;
}
.components .product .image-switch__img {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}
.components .product .image-switch__img img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.components .product__image-pagination {
  position: absolute;
  z-index: 30;
  left: 0;
  bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.components .product__image-pagination .image-pagination__item {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #689192;
  margin: 0 3px;
}
.components .product__image-pagination .image-pagination__item--active {
  background: #771672;
}
.components .product-title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.components .product__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.components .product__rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #771672;
  fill: #771672;
  font-weight: 600;
  margin-right: 10px;
}
.components .product__rating svg {
  width: 18px;
  margin-right: 5px;
}
.components .product__testimonials {
  font-size: 14px;
  line-height: 20px;
  color: #cf748f;
}
.components .product__info {
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 14px;
}
.components .product__vendor-code {
  margin-bottom: 4px;
}
.components .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}
.components .product-price__current {
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #689192;
  margin-right: 14px;
}
.components .product-price__old {
  line-height: 28px;
  font-size: 12px;
  color: #cf748f;
  text-decoration: line-through;
}
.components .product__btn {
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 0;
  text-align: center;
  background: #771672;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.components .product__btn:hover {
  background: rgb(240, 7, 7);
}