.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 30px;
}

.task {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(228, 191, 250);
}

h2 {
  color: rgb(65, 63, 63);
  margin-bottom: 10px;
}

.task-deskr {
  padding: 10px 20px;
  font-size: 17px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(105, 232, 247);
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  background: rgb(58, 214, 231);
}
.btn:active {
  background: rgb(12, 185, 204);
}

.out {
  background: rgb(226, 228, 140);
  color: rgb(10, 194, 32);
  font-size: 20px;
  font-weight: bold;
}

.inp {
  display: block;
}