.active{
	background: #38FFFF;
	color: #fff;
}
.btns-wrapper{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.btns{
		width: 300px;
		height: 300px;
		margin: 15px;
		border: none;
		border-radius: 2px;
		background: #055fe7;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}
}
.count-cont{
	position: absolute;
	left: 50%;
	top: 50px;
	color: #00ff00;
}
